<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <h1>The Best Palindrome Checker in the World!</h1>
    <main>
        <p>A palindrome is a word or phrase that is spelled exactly the same when written backwards. Some examples are "madam" and "racecar". This site allows you to input a phrase and check if it is a palindrome.</p>

        <p>
        <form action="/result" method="post">
            <label for="text-teststring">Enter some text to test:
                <input type="text" name="text-to-test" id="text-teststring"/>
            </label>
            <button type="submit">Test!</button>
        </form>
        </p>
    
    </main>
</body>
</html>